//COLOR VARIABLES

$color-1: #F5F6F6;
$color-2: #798494;
$color-3: #9CA1A8;
$color-4: #7C7381;
$color-5: #1F1F2E;
$color-white: #fff;

$footer-height: 4rem;

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px, 10px/16px = 62.5%
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background-color: $color-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr max-content;
    position: relative;
}
//HEADINGS
.heading-1 {
    font-size: 3.5rem;
    line-height: 1;
    color: $color-5;
}
.heading-2 {
    font-size: 1.8rem;
    line-height: 1;
    color: $color-5;
}

//SEARCH
.search {
    &__form {
        display: flex;
        justify-content: center;
    }
    &__input {
        border-radius: 15px;
        padding: .5rem;
        width: 90%;
        transition: all .2s;
        border: 2px $color-3 solid;
        outline: none;
        
        &:focus {
            width: 100%;
            border: 2px $color-5 solid;
        }
    }
}
//CREATE A NEW NOTE
.create-note-btn {
    border: none;
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 700;
    border-radius: 300px;
    margin-bottom: 4rem;
    background-color: $color-2;
    transition: all .2s;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
        background-color: $color-5;
        color: #fff;
    }
    &:active {
        transform: scale(1.05);
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
    }
}
//popup
.create-note { 
    &__background {
        position: absolute;
        background-color: rgba($color-2, 0.96);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__window {
        padding: 3rem;
        background-color: rgba($color-1, 0.90);
        border-radius: 5px;
        position: fixed;
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
        max-width: 60rem;

        display: grid;
        //dokoncz grida
    }
    &__cancel {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
        background-color: orange;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        columns: $color-white;
    }
}
.hide {
    display: none; //disabled for testing
}

//NOTES
.notes {
    margin-bottom: 4rem;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
    grid-gap: 2rem;
    justify-content: center;
    
    &__note {
        border: 2px transparent solid;
        border-radius: 5px;
        padding: 1rem;
        background-color: $color-white;
        transition: all .2s;
        
        cursor: pointer;
        
        &__content {
            font-size: 1.4rem;
        }
        &__date {
            color: $color-5;
            font-size: 1.3rem;
        }
        &:hover {
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.02);
            border: 2px $color-2 solid;
        }
    }
    // &__title {
        //     align-self: flex-start;
        // }
    }
    
//SECTIONS
//HEADER
.header {
    background-color: $color-3;
    padding: 2rem;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
//MAIN
.main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
//FOOTER
.footer {
    padding: 2rem;
    background-color: $color-5;
    color: $color-1;
    text-align: center;
    vertical-align: center;
    font-size: 1.4rem;
}